---
---
@import "mixins.scss";
@import "vars.scss";
#endorsements {

  .inner-section {
    ul {
      padding-left: 10px;
      margin: 1rem 0 0;
      li {
        list-style: none;
        position: relative;
        text-indent: 5px;
        margin-bottom: 1rem;
        &:before {
          content: '\2013';
          position: relative;
          left: -12px;
        }
      }
    }
  }

  #intro {
    .inner-section {
      max-width: $size-x-large;
      .intro-title-card {
        padding: 0;
        .intro-title {
          padding: 2rem;
        }
      }
    }
    .intro-text {
      padding-top: 3rem;
    }
  }
  #org-endorsements {
    background-color: $white;
    color: $blue;
    padding: 3rem 2rem;
    .inner-section {
      display: flex;
    }
    .text-col {
      width: 40%;
      
    }
    .logos-col {
      width: 60%;
      padding-left: 1rem;
      .logos-grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        .logo {
          flex: 1 0 135px;
          padding: 1rem;
        }
      }
    }
  }
  #leader-endorsements {
    padding: 0;
    .inner-section {
     max-width: calc(#{$size-x-large} + 4rem);
     padding: 3rem 2rem;
    }

    .list {
      margin-bottom: 2rem;
    }
    .disclaimer {
      font-weight: bold;
    }
    .leader-image {
      
      height: 715px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
    }
  }

  
}