---
---
@import "mixins.scss";
@import "vars.scss";
#home {
  position: relative;
  #hero {
    position: relative;
    background-size: 100%;
    min-height: 100vh;
    background-position: right 25%;
    background-size: cover;
    background-color: $blue;
    background-repeat: no-repeat;
    @include bp-large {
      background-size: 100% auto;
      background-position: center top;
    }
    &:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(to right, $blue 40%, transparent 60%);
      opacity: 1;
      top: 0;
      left: 0;
      @include transition(width);
      @include bp-large {
        background-image: linear-gradient(to top, $blue 75%, transparent);  
      }
    }
    // &:after {
    //   content: '';
    //   position: absolute;
    //   height: 100%;
    //   width: 100%;
    //   background-color: $blue;
    //   position: absolute;
    //   top: 0;
    //   left:0;
    //   z-index: 1;
    //   opacity: 1;
    //   @include transition(width,opacity);
    //   transition-duration: 0.7;
    // }
    // &.active {
    //   &:after {
    //     width: 0;
    //     opacity: 0;
    //   }
    // }
   .inner-section {
     position: relative;
     z-index: 2;
     padding: 37px 72px;
     @include bp-large {
       padding: 21px 11px;
     }
     .hero-content {
       @include flexbox;
       justify-content: space-between;
       @include bp-large {
        flex-direction: column-reverse;
        justify-content: initial;
       }
      .text-col {
        max-width: 775px;
        display: inline-block;
        @include bp-large {
          padding: 200px 32px 0;
        }
      }
      .btn-col {
       display: inline-block;
       vertical-align: top;
       text-align: right;
       .btn {
         margin: 0;
       }
      }
      .hero-logo {

        svg {
          width: 697px;
          height: auto;
        }
        
      } 
      .hero-text {
        font-size: 27px;
        line-height: 30px;
        margin-top: 57px;
        letter-spacing: 0.02em;
        @include bp-large {
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.01em
        }
      }
      .hero-btn-row {
        white-space: nowrap;
        margin-top: 46px;
        .btn:first-child {
          margin-right: 22px;
        }
        @include bp-large {
          margin-top: 26px;
        }
      }
      .hero-social-row {
        margin-top: 59px;
        @include bp-large {
          margin-top: 26px;
        }
        .social-btn {
          background-color: $white;
          $btn: 44px;
          font-size: 27px;
          width: $btn;
          height: $btn;
          display: inline-block;
          position: relative;
          border-radius: 6px;
          @include bp-large {
            $btn: 22px;
            width: $btn;
            height: $btn;
            font-size: 12px;
          }
          
          i {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translate(-50%,-50%));
          }
        }
      }
      .hero-footer {
        border-top: 4px solid $yellow;
        margin-top: 82.5px;
        .footer-content {
          @include flexbox;
          align-items: center;
          @include bp-large {
            
          }
          .footer-logo {
            
            flex: 1 0 auto; 
            padding-right: 20px;
            svg {
              width: 288px;
              height: auto;
              @include bp-large {
                width: 106px;
              }
            }
            
          }
          .footer-text {
            @include bp-large {
              padding-top: 20px;
            }
            
            .footer-hash {
              font-size: 16px;
              line-height: 17px;
              font-weight: bold;
              @include bp-large {
                font-size: 6px;
                line-height: 7px;
              }  
            }
            .footer-disclaimer {
              border: 1px solid $white;
              display: inline-block;
              padding: 5px 10px;
              font-size: 12px;
              line-height: 15px;
              margin-top: 19px;
              .disclaimer-text {
                display: inline-block;
              }
              @include bp-large {
                font-size: 6px;
                line-height: 7px;
                margin-top: 6px;
                padding: 3px;
              }
            }
          }
        }
      }
     }
     
   } 
  }
  #form-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 11;
    overflow-y: scroll;
    background-color: $blue;
    .close-form {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
    }
    .forms-body {
      padding: 2rem;
      max-width: $size_medium;
      margin: auto;
    }
  }
}