---
title: Endorsements
permalink: "/endorsements/"
css: endorsements
intro:
  title: Endorsements
  text: "#### Emeryville \n- Christian Patz, Mayor\n- Dianne Martinez, Vice-Mayor\n-
    Scott Donahue, Councilmember\n- Ally Medina, Councilmember"
org-endorsements:
  title: Organizations
  list:
  - title: Alameda County Democratic Party
    logo: "/img/alameda-dems-logo.png"
  - title: Building Trades Council of Alameda County
    logo: "/img/construction-union-logo.png"
  - title: Carpenters, Local 713
    logo: "/img/carpenters.jpg"
  - title: International Association of Firefighters, Local 55
    logo: "/img/firefighters-union-logo.png"
  - title: United Food and Commercial Workers, Local 5
    logo: "/img/ufcw5.png"
  - title: Sierra Club
    logo: "/img/sierra-club-logo.png"
  - title: Victory Fund
    logo: "/img/victory-fund-logo.png"
leader-endorsements:
  title: California State and Local Leaders
  list: |-
    - California State Senator Nancy Skinner
    - California State Assemblymember Buffy Wicks
    - California State Assemblymember Lorena Gonzalez
    - Bay Area Rapid Transit District Director Rebecca Saltzman
    - Alameda County Supervisor Keith Carson
    - Alameda County Supervisor Scott Haggerty
    - Alameda County Supervisor Nate Miley
    - Alameda County Supervisor Richard Valle
    - Alameda County Transit Board Director Elsa Ortiz
    - Alameda Mayor Marilyn Ezzy-Ashcraft
    - Alameda City Councilmember Jim Oddie
    - Alameda City Councilmember Malia Vella
    - Berkeley Mayor Jesse Arreguin
    - Berkeley City Councilmember Lori Droste
    - Berkeley City Councilmember Susan Wengraf
    - Berkeley City Councilmember Rigel Robinzon
    - Dublin City Councilmember Shawn Kumagai
    - El Cerrito City Councilmember Gabriel Quinto
    - Piedmont Councilmember Tim Rood
    - San Leandro City Councilmember Pauline Cutter
    - Tracy City Councilmember Dan Arriola
    - Frank Mecca, Executive Director, County Welfare Directors Association of California*
    - Ben Hofer, Executive Director, Secure Justice*
  disclaimer: "*Organizations listed for identification purposes only. All public
    elected office titles are listed for identification purposes only."
  image: "/img/john-with-supporter.jpg"

---
<div id="endorsements">
  {% include hero.html %}
  {% include intro.html %}
  <section id="org-endorsements">
    <div class="inner-section">
      <div class="text-col">
        <h4>{{ page.org-endorsements.title }}</h4>
        <ul>
          {% for endorsement in page.org-endorsements.list %}
          <li>{{ endorsement.title }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="logos-col">
        <div class="logos-grid">
          {% for endorsement in page.org-endorsements.list %}
          <div class="logo">
            <img src="{{ endorsement.logo | relative_url }}" />
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section id="leader-endorsements">
    <div class="inner-section">
      <h4>{{ page.leader-endorsements.title}}</h4>
      <div class="list">
        {{ page.leader-endorsements.list | markdownify }}
      </div>
      <div class="disclaimer">
        {{ page.leader-endorsements.disclaimer }}
      </div>
    </div>
    <div class="leader-image" style="background-image: url('{{ page.leader-endorsements.image | relative_url }}');">

    </div>
  </section>
</div>