---
title: Home Page
layout: default
permalink: /
css: home
intro: 
  title: "Sign up to support and receive updates:"
  text: John is recognized as a devoted public servant and expert in social and fiscal policies that make communities affordable and resilient, encourage economic development, and promote public safety and preparedness.
issues:
  title: What John is Fighting For
  text: John spent the last four years serving the people of Emeryville on their city council advocating for policies that keep the city resilient in the face of a rapidly changing Bay Area while also continuing to champion the needs of working tenants and families. Read about his priorities and track record on the top issues in Emeryville.
  items: 
  - title: Housing and Homelessness 
    image: /img/housing.jpg
    link: /issues/#housing
  - title: Economic Development
    image: /img/econ-dev.jpg 
    link: /issues/#econ
  - title: Safety and Justice
    image: /img/safety-justice.jpg
    link: /issues/#safety
  - title: Small Business
    image: /img/small-biz.jpg
    link: /issues/#small-biz
  - title: Transportation
    image: /img/transpo.jpg
    link: /issues/#transpo
donate: 
  text: Donate to John Bauters Campaign
footer: 
  class: blue  
---
<div id="home">
  {% include hero.html %}
  <section id="intro">
    <div class="inner-section">
      <div class="intro-title-card">
        <h1 class="intro-title">
          {{ page.intro.title }}
        </h1>
        {% include update-form.html form-id="home-intro-form"%}
      </div>
      <div class="cta-btn-col">
        <div class="cta-btn-row">
          <a class="cta-btn" href="{{'/donate' | relative_url }}">
            <div class="btn-inner">
              <div class="btn-icon">
                {% include svg/donate-icon.svg %}
              </div>
              <h4 class="btn-text">Donate</h4>
            </div>
          </a>
          <a class="cta-btn" href="#footer-form">
            <div class="btn-inner">
              <div class="btn-icon">
                {% include svg/updates-icon.svg %}
              </div>
              <h4 class="btn-text">Get Updates</h4>
            </div>
          </a>
        </div>
        <div class="text-row">
          {{ page.intro.text | markdownify }}
          <a href="/about" class="btn alt">Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <section id="issues">
    <div class="bg-image">

    </div>
    <div class="inner-section">
      <div class="title-card">
        <h2>{{ page.issues.title }}</h2>
      </div>
      <div class="section-text">
      {{ page.issues.text | markdownify }}
      <a class="btn alt" href="/issues/">Learn More</a>
      </div>
      <div class="issues-grid">
      {% for issue in page.issues.items %}
      <div class="issue-col">
        <a class="issue-box" href="{{ issue.link | relative_url }}">
          <div class="issue-img">
            <img src="{{ issue.image | relative_url }}" alt="image for {{ issue.title }}">
          </div>
          <div class="issue-title">
            <h4>{{ issue.title }}</h4>
          </div>
        </a>
      </div>
      {% endfor %}
      </div>
    </div>
  </section>
  <section id="media">
    <div class="inner-section">
      <div class="media-grid">
        <div class="media-col twitter">
          <div id="recent-tweets">
            <a class="twitter-timeline" data-tweet-limit="3" data-chrome="nofooter" href="https://twitter.com/JohnBauters?ref_src=twsrc%5Etfw">Tweets by JohnBauters</a>
          </div>
          <div class="view-more">
            <a class="btn" href="https://twitter.com/JohnBauters">View more</a>
          </div>
        </div>
        <div class="media-col blog">
          <div id="recent-posts">
            {% for post in site.posts limit: 3 %}
            <div class="media-item">
              <a class="media-title" href="{{post.url | relative_url }}">{{ post.title }}</a>
              <div class="media-content">
                {{ post.content | strip_html | truncate: 200, '...'}}
              </div>
              <div class="media-date">
                {{ post.date | date: "%B %-d, %Y"}}
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="view-more">
            <a class="btn alt" href="{{ '/blog' | relative_url }}">View more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="home-donate">
    <div class="inner-section">
      <div class="donate-box">
        <h4>{{ page.donate.text }}</h4>
        <a href="{{'/donate' | relative_url }}" class="btn alt">Donate</a>
      </div>
    </div>
  </section>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>