<nav id="site-nav">
  <div class="nav-logo">
    <a href="{{ base }}/">
      <img src="{{ base }}{{ site.data.nav-menu.logo }}" />
    </a>
  </div>  
  <ul class="nav-links">
    {% for link in site.data.nav-menu.links %}
    <li>
      <a href="{{ link.page }}">{{ link.title }}</a>
    </li>
    {% endfor %}
    <li>
      <a href="{{ base }}{{ site.data.nav-menu.button.link }}" class="btn">{{ site.data.nav-menu.button.text }}</a>
    </li>
  </ul> 
  <div class="mobile-nav-toggle">
    <div class="toggle-line top"></div>
    <div class="toggle-line middle"></div>
    <div class="toggle-line bottom"></div>
  </div>
</nav>