//Color Variables
$white: #fff;
$blue: #24408f;
$yellow: #DDC71B;
$lt-grey: #EDEDED;
//Theme colors
$text_color: $white;
$primary_color: $blue;
$secondary_color: $yellow;
//Mobile Breakpoints
$size-x-large: 1280px;
$size-large: 1024px;
$size-medium: 768px;
$size-small: 568px;
//Padding for Sections and Grids
$grid-gutters: 0.5rem 1rem;
$transition_duration: .5s;
//Mixins
@include gridGutters($grid-gutters);
//Other stuff
$border-radius: 6px;
$nav-height: 132px;
$title-card: 635px;

