#site-footer {
  background-color: $yellow;
  color: $blue;
  &.blue {
    background-color: $blue;
    color: $white;
    a {
      color: $yellow;
    }
    .footer-body {
      .footer-text {
        .footer-disclaimer {
          border-color: $white;
        }
      }  
    }
  }
  .footer-body {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    padding: 2rem;
    @include bp-large {
      flex-flow: column wrap;
      padding: 2rem;
    }
    .footer-logo {
      width: 25%;
      @include bp-large {
        width: 100%;
        svg {
          height: 80px;
          margin: auto;
        }
      }
      svg {
        width: auto;
      }
    }
    .footer-text {
      flex: 1 1 auto;
      text-align: center;
      width: 50%;
      padding: 0 2rem;
      @include bp-large {
        width: 100%;
        padding: 0;
        order: 3;
      }  
      .footer-hash {
        font-weight: 700;
        margin-bottom: 1rem;
      }
      .footer-disclaimer {
        font-size: 14px;
        padding: 0.5rem;
        border: 1px solid $blue;
        max-width: 510px;
        margin: auto;
      }
    }
    .footer-signup {
      width: 25%;
      
      @include bp-large {
        width: 100%;
        text-align: center;
        padding: 2rem 0;
        order: 2;
      }
      .update-form {
        max-width: 350px;
        margin: auto;
        .form-field {
          input {
            border: 2px solid $blue;
          }
        }
      }
    }
  }
}