#site-nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  background-color: $white;
  .nav-logo {
    flex: 0 1 auto;
    img {
      height: 100px;
      @include bp-small {
        height: 65px;
      }  
    }
  }
  &.sticky {
    @include box-shadow;
  }
  .nav-links {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    flex: 1;
    position: relative;
    top: 0.75rem;
    li {
      list-style: none;
      padding: 0 2rem;
    }
    @include bp-x-large {
      position: fixed;
      display: block;
      padding: 1rem 0;
      top: 0;
      right: 0;
      transform: translateX(100%);
      
      padding: 0 1rem 0;
      opacity: 0;
      
      text-align: right;
      background-color: $white;
      li {
        padding: 1rem 0;
      } 
      &.active {
        @include transition(transform,opacity);
        transform: translateX(0%);
        opacity: 1;
        top: $nav-height;
        @include bp-small {
          top: 97px;
        }
      }
    }
    @include bp-small {
      width: 100%;
      text-align: center;
    }    
  }
  .mobile-nav-toggle {
    display: none;
    background-color: $yellow;
    height: 2.5rem;
    width: 3rem; 
    top: 3.5rem;
    right: 1rem;
    padding: 4px; 
    @include bp-small {
      top: 2.5rem;
    }  

    .toggle-line {
      height: 4px;
      background-color: $blue;
      width: 100%;
      display: block;
      transform-origin: center;
      @include transition(transform);
      &.middle {
        margin: 4px 0;
      }
    }
    &.active {
      .toggle-line {
        &.top {
          transform: rotate(45deg) translate(7px,5px);
        }
        &.middle {
          transform: scale(0);
        }  
        &.bottom {
          transform: rotate(-45deg) translate(5px,-5px);
        }
      }  
    }
    @include bp-x-large {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      position: fixed;
    }
  }

}